<div class="dp-container">
  <div class="display-picture">
    <%= image_tag("PatrickWatson.png", :alt => "selfie") %>
  </div>
</div>
<!--TODO: add social media links-->
<div class="info-container">
  <h2>Patrick Watson</h2>
  
  <h4>Montreal, QC</h4>
  <h4>Currently: Freelancing and available</h4>
  <strong>Email: </strong><%= @email %><br />
  <strong>Phone: </strong><%= @phone_number %>

  <div class="social-media">
    <h4>Follow me on social media!</h4>
    <ul>
      <li>
        <%= link_to image_tag("facebooklogo.png"), @facebook_link, :target => "blank" %>
      </li>
      <li>
        <%= link_to image_tag("linkedinlogo.png"), @linkedin_link, :target => "blank" %>
      </li>
<!--       <li>
        <%= image_tag("instalogo.png") %>
      </li> -->
      <li>
        <%= link_to image_tag("snapchatlogo.png"), @snapchat_link, :target => "blank" %>
      </li>
    </ul>
  </div>

  <div class="buttons">
    <div class="button-container">
      <a href="#" id="about-btn" class="btn">About</a>
    </div>
    <div class="button-container">
      <a href="#" id="skills-btn" class="btn">Skills</a>
    </div>
    <div class="button-container">
      <a href="#" id="services-btn" class="btn">Services</a>
    </div>
  </div>
</div>

<div class="blurb-container">
  <div id="about-blurb" class="blurb">
    <h3>About Me</h3>
    <p><%= @about_me_blurb %></p>
  </div>

  <div id="skills-blurb" class="blurb">
      <h3>Skills</h3>
      <p>
      <%= render partial: "shared/skill_grid", :locals => {:skills => @skills, :progress => true, :skills_per_row => 4, :index => 0} %>
      <p>
  </div>

  <div id="services-blurb" class="blurb">
    <h3>Services</h3>
    <p>
      I offer many services ranging from, branding and copywriting to building data structures and APIs. a list of some of my services can be found below but for the best answer, just shoot me an email with some details of your project! If you are unsure about what technology would be best to help you reach your goals please don't hesitate to send me an email and I can give you my opinion!
    </p>
      <h4>Some of my services:</h4>
      <ul>
        <li>API construction</li>
        <li>Logo design</li>
        <li>Building a personal website like this one</li>
        <li>Building a website to showcase your business</li>
        <li>Front end web development</li>
        <li>Technology consulting</li>
        <li>Wordpress development</li>
        <li>Shopify store development</li>
        <li>Landing page development</li>
        <li>Web application development</li>
      </ul>

  </div>
</div>




